$primary-bright-orange: hsl(31,77%,52%);
$primary-dark-cyan: hsl(184, 100%,22%);
$primary-very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0,0%,95%);

* {
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid pink;
    margin: 100px;
    padding: 50px;
    display: flex;
    height: 50vh;
    width: 50%;
}
.title{
    text-transform: uppercase;
}
.text{
    text-align: left;
    line-height: 1.5;
}
.sedans_section{
    background-color: $primary-bright-orange;
    color: $transparent-white-paragraphs;
    border-radius: 5px 0 0 5px;
    padding: 50px;
}
.suvs_section{
    background-color: $primary-dark-cyan;
    color: $transparent-white-paragraphs;
    padding: 50px;
}
.luxury_section{
    background-color: $primary-very-dark-cyan;
    color: $transparent-white-paragraphs;
    border-radius: 0 5px 5px 0;
    padding: 50px;
}